{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% if objectToArray %}
            <table class="table table-bordered">
                <tbody>
                    {% for key, value in objectToArray %}
                        <tr class="sonata-ba-view-container">
                            {% if elements[key] is defined %}
                                <td>{{admin.trans(key)}}</td>
                                <td>{{value|raw}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ admin.generateObjectUrl('history_revert_to_revision', object, {'revision': revision, 'locale' : locale }) }}" class="revision-link" rel="{{ revision }}">{{ "label_revert_to_revision"|trans({}, 'GContentBundle') }}</a>
        {% endif %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}
